@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
.individual-cart-items {
    display: flex;
    margin-top: 1rem;
}

.medicine-name {
    margin-left: 1rem;
    font-size: 1rem;
    font-family: 'Rakkas', cursive;
}

.medicine-quantity {
    margin-left: 0.5rem;
}

.medicine-total-price {
    margin-left: 17rem;
    font-family: 'Rakkas', cursive;
}
.add-more {
    padding: none;
    border: none;
    background-color: white;
    margin-left: 0.5rem;
    margin-top: 0.1rem;
    font-family: 'Rakkas', cursive;
}
.reduce {
    padding: none;
    border: none;
    background-color: white;
    margin-left: 13rem;
    font-family: 'Rakkas', cursive;
}
