.title {
    display: flex;
    justify-content: center;
    color: #37b9c5;
    background-color: #f7feff;
    height: 131px;
    left: 430px;
    top: 1068px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
}

.carousel {
    height: 446px;
    background-color: #e4f4f5;
}
